body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-image: url('http://www.visitcalifornia.com/sites/default/files/styles/welcome_image/public/arroyo%20burro%20beach%20santa%20barbara%20damian%20gadal%201280x642.jpg')
}

